body {
    font-family: sans-serif;
}

.container {
    margin-top: 80px;
}

.topo-imagem {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(3, 39, 50);
    position: relative;
}

.topo-imagem img {
    position: absolute;
    left: 25%;
    top: 15%;
}

.menu-nav {
    width: 60%;
    margin-left: 40%;
}

.menu-nav ul {
    display: inline-block;
}

.menu-nav ul li {
    padding-left: 5px;
    display: inline-block;
    padding-left: 40px;
}

.menu-nav ul li a {
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb( 0, 61, 82);
    font-weight: bold;
    letter-spacing: 2px;
    transition: color 0.3s linear;
}

.menu-nav ul li a:hover {
    color: #fff;
}

.img-secundaria {
    position: relative;
    left:10%;
    width: 80%;
}

.second-container {
    padding-top: 80px;
    width: 80%;
    margin: 40px auto;
    text-align: center;
    justify-content: center;
}

.second-container h2, .second-container p {
    font-family: sans-serif;
    width: 80%;
    margin: 0 auto;
}

.second-container h2 {
    font-size: 28px;
    font-weight: bold;
}

.second-container p {
    margin-top: 20px;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 1.5em;
    color: rgba(0, 0, 0, 0.7);
}

.image-container {
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    padding-bottom: 80px;
    padding-top: 80px;
}

.card {
    width: 20%;
    float: left;
    display: block;
}

.card img {
    width: 100%;
}

.galeria-um {
    margin-left: 10%;
    margin-right: 10%;
}

.galeria-tres {
    margin-left: 10%;
}

.card p, .card h3{
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.7);
}

.card h3 {
    text-transform: uppercase;
    font-weight: bold;
}

.box-text {
    clear: both;
    width: 80%;
    margin: 0 auto;
    background-color: rgb( 0, 61, 82);
    padding: 120px 0;
    background-image: url(imagens/bg_detalhe.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    margin-top: 320px;
}

.box-text h2, .box-text p {
    color: rgb(207, 194, 194);
    margin-left: 10%;
}

.box-text h2 {
    width: 70%;
    font-size: 48px;
    text-transform: uppercase;
}

.box-text p {
    width: 40%;
}

.information-contact {
    padding-top: 40px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.information-contact p {
    color:rgb(3, 39, 50);
    font-size: 28px;
    text-transform: uppercase;
}

.information-contact p.jump {
    margin-bottom: 40px;
}

footer {
    background-color: rgb(1, 20, 26);
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

footer p {
    color: rgba(255, 255, 255, 0.384);
    padding: 15px;
}